// colors:

$mainColor: #343434;
$iconsColor: #aba7a8;
$consultColor: #354d7b;
$red: #f05282;

// sizes:

$mainSize: 17px;

//fonts:

$ptSans: 'PT Sans', sans-serif;
$lato: 'Lato', sans-serif;
$hortensiac: 'hortensiac', sans-serif;