// colors:

$mainColor: #343434;
$iconsColor: #aba7a8;
$consultColor: #354d7b;
$red: #f05282;
$redColor: #e5205b;
$redRead: #df114f;
$pink: #f05282;
$blue: #3789cc;
$blueSliderColor: #013b4a;
$white: #fff;

// sizes:

$mainSize: 17px;

//fonts:

$ptSans: 'PT Sans', sans-serif;
$lato: 'Lato', sans-serif;
$hortensiac: 'hortensiac', sans-serif;